body {
    margin: 60px auto;
    width: 70%;
}

.nav-container {
	list-style-type: none;
	overflow: hidden;
    	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	background-color: #696969;
	margin: 0;
	padding: 0;
}

.nav-container li {
	float: left;
}

.nav-container a {
	font-size: 14px;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	background-color: black;
	display: inline-block;
}


.nav-container li a:hover .dropdown:hover{
	background-color: red;
}

li.dropdown {
	display: inline-block;
}

.dropdown a {
	display: inline-block;
	font-size: 14px;
	border: none;
	outline: none;
	color: white;
	padding: 12px 14px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	font-size: 16px;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: blue;
}

.dropdown:hover .dropdown-content{ 
	display: block;
}

.active {
	background-color: green;	
}

@media screen and (max-width: 600px) {
	.nav-container li.a li.dropdown-content a {float: none;}
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.background {
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;
}

img {
	width: 75%;
	height: 75%;
	position: relative;
}
