* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

#graphic {
	background-color: #dcdcdc;
}


#sections {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	top: 0px;
}

section.module:last-child {
	margin-bottom: 0;
}

section.module h2 {
	margin-bottom: 40px;
	font-size: 30px;
}

section.module p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

section.module p:last-child {
	margin-bottom: 0;
}

section.module.content {
	padding: 40px 10px;
}

section.module.parallax {
	height: 600px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section.module.parallax h1 {
	color: rgb(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 600px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-* {
	background-image: url("assets/images/triangulation/metal1.jpg");
}

@media all and (min-width: 600px) {
	section.module h2 {
		font-size: 42px;
	}

	section.module p {
		font-size: 20px;
	}
}

@media all and (min-width: 960px) {
	section.module.parallax h1 {
		font-size: 160px;
	}
}

ul.references {
	list-style-type: none;
}
/*
canvas {
	padding: 0;
	position: fixed;
	border: 2px solid black;
	display: inline-block;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #ddd;
	overflow: scroll;
}
*/

.gallery {
	width: 100%;
	height: auto;
	padding: 20px;
	display: block;
}

.col img {
	margin-top: 12px;
	width: 100%;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}


[class*="col-"] {
	float: left;
	display: block;
	padding: 10px;
	width: 100%;
}

/*for mobile*/
@media only screen and (min-width: 400px) {
	.col-sm-1 {width:8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* for tablets */
@media only screen and (min-width: 600px) {
	.col-m-1 {width:8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}


@media only screen and (min-width: 768px) {
	.col-1 {width:8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

.header-main {
	text-align: center;
	padding: 20px 50px;
	color: black;
}

.header-name {
	font-size: 1.8em;
}

.nav-container {
	list-style-type: none;
	overflow: hidden;
	font-family: 'Cormorant Garamond', serif;
	background-color: black;
	margin: 0;
	padding: 0;
}

.nav-container li {
	float: left;
}

.nav-container li a, .dropdown a {
	font-size: 0.9em;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	display: inline-block;
}

.nav-container li a:hover, .dropdown:hover{
	background-color: red;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #696969;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	display: block;
	color: white;
	padding: 15px 20px;
	text-align: left;
	text-decoration: none;
}

.dropdown:hover .dropdown-content{ 
	display: block;
}

.active {
	background-color: lavender;	
}

@media screen and (max-width: 600px) {
	.nav-container li, .dropdown-content a {float: none;}
}

.hero-image {
	padding: 10px;
	background-image: url('/assets/images/compArt/lowpoly.jpg'); 
	height: 100vh;
	width: auto;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-text {
	text-align: center;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 6px 12px 12px 6px;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	opacity: 0.8;
	background-color: #696969;
	color: white;
}

.content-container{
	padding: 0px 50px 10px 50px;
}

footer ul {
	font-family: 'Cormorant Garamond', serif;
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.5em;
	font-family: 'Cormorant Garamond', serif;
}

p {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.2em;
	font-weight: medium;
	line-height: 1.4em;
	color: #333;
}

footer {
	border-top: 2px solid #d5d5d5;
	padding-top: 5px;
	font-size: 1.0em;
}

ul.posts { 
	margin: 20px auto 40px; 
	font-size: 1.2em;
}

ul.posts li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}
