---
layout: default
title: Computer-Based Art
permalink: /compArt/

compArt:
  - title: "triangulation"
    image: lowpoly.jpg
    alt: "lowpoly"

---
<ul class = "compArt">
	{% for item in site.compArt %}
		<h2> {{item.title}} </h2>
		{% for image in site.static_files %}
			{% if image.path contains 'images/compArt' %}
				<a href="{{site.url}}/{{image.path}}" class="image">
					<img src="{{site.url}}/{{image.path}}" alt = "{{compArt.alt}}">
				</a>
			{% endif %}
		{% endfor %}
	{% endfor %}
</ul>
