---
layout: page
permalink: /aboutMe
---


<h2 class = "gallery-title"> About Me </h2>


<div class = "backgroundSection">

	<div class = "aboutMe">
		{% for image in site.static_files %}
			{% if image.path contains 'images/163images/voronoi-fun1' %}
				<div class = "aboutMeSection">
					<img class = "imageLink" src="{{site.url}}/{{image.path}}" alt = "Snapchat Triangulations">
					<div class = "hero-text">
						<a href="{{site.url}}/aboutMe/bio" class="image"> Biography </a>
					</div>
				</div>
			{% endif %}

			{% if image.path contains 'images/163images/voronoi-teal' %}
				<div class = "aboutMeSection">
					<img class = "imageLink" src="{{site.url}}/{{image.path}}" alt = "Living Archive Project">
					<div class = "hero-text">
						<a href="{{site.url}}/aboutMe/artistStatement" class="image"> Artist Statement </a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	
</div>
