---
layout: page 
permalink: /projects/reverseEngineeringFirmware/arm_assembly_c_idioms/arm_basics_n_lowest_nums
c_source: arm_assembly_c_idioms/n_lowest_nums/n_lowest_nums.c
c_documentation: arm_assembly_c_idioms/n_lowest_nums/n_lowest_nums_documentation.c
---


<div class="arm_assembly_c_idioms_title">
	<h2 class="reverse_engineering_embedded_firmware"> ARM Assembly Intro  </h2>
	<h3 class="arm_assembly"> Learning ARM Assembly through Idiomatic Usage </h3>
	<h3 class="arm_assembly"> or </h3>
	<h3 class="arm_assembly"> “What do you mean you don’t understand me??! I said exactly what Google Translate told me to say!” </h3>
</div>

<div class="arm_assembly_c_idioms_section">
	<h2 class="arm_assembly">***************************</h2>
	<h2 class="arm_assembly"> ARM Assembly Idioms and Constructs </h2>
	<h2 class="arm_assembly">***************************</h2>
	<h3 class="arm_assembly"> n_lowest_nums.c</h2>
	<div class="arm_basics row">
		<div class="col-sm-6 col-m-6 col-6">
			{% if page.c_source %}
				{% highlight c linenos %}
					{% include {{ page.c_source }} %}
				{% endhighlight %}
			{% endif %}
		</div>
		<div class="col-sm-6 col-m-6 col-6">
			{% if page.c_documentation %}
				{% highlight c linenos %}
					{% include {{ page.c_documentation }} %}
				{% endhighlight %}
			{% endif %}
		</div>
	</div>
	<div class="arm_assembly_c_idioms_section">
			<p class="arm_assembly">The notion of translation is important, as the function of a compiler is essentially that — to serve as a “translator,” between a higher-level programming language and an assembly language of a machine. As in natural languages, a translator can change the end result (the assembly language), by applying different rules.</p>
	</div>
	<h2 class="arm_assembly">***************************</h2>
</div>
<div class="arm_assembly_c_idioms_section">
	<h2 class="arm_assembly">***************************</h2>
	<h2 class="arm_assembly">References </h2>
	<h2 class="arm_assembly">***************************</h2>
	<p class="arm_assembly">I refer the reader to two exceptional tutorials online:</p>
	<div class="arm_assembly_c_idioms_section">
		<p class="arm_assembly">Azeria Labs: <a href= “https://azeria-labs.com/writing-arm_assembly-part-1/>Introduction to ARM Assembly Basics</a></p>
	</div>	
	<div class="arm_assembly_c_idioms_section">
		<p class="arm_assembly">Think in Geek <a href="https://thinkingeek.com/arm-assembler-raspberry-pi/">ARM Assembler in Raspberry Pi</a></p>
	</div>
</div>
