---
layout: page 
permalink: /projects/reverseEngineeringFirmware/arm_assembly_c_idioms/arm_basics_bitwise_operators
c_source: arm_assembly_c_idioms/bitwise_operators/bitwise_operators.c
arm_source: arm_assembly_c_idioms/bitwise_operators/dis_bitwise_operators_O0.txt
c_max_and: arm_assembly_c_idioms/bitwise_operators/bitwise_operators_max_and.c
arm_max_and: arm_assembly_c_idioms/bitwise_operators/dis_bitwise_operators_max_and.txt
c_max_or: arm_assembly_c_idioms/bitwise_operators/bitwise_operators_max_or.c
arm_max_or: arm_assembly_c_idioms/bitwise_operators/dis_bitwise_operators_max_or.txt
c_max_xor: arm_assembly_c_idioms/bitwise_operators/bitwise_operators_max_xor.c
arm_max_xor: arm_assembly_c_idioms/bitwise_operators/dis_bitwise_operators_max_xor.txt
---


<div class="arm_assembly_c_idioms_title">
	<h2 class="reverse_engineering_embedded_firmware"> ARM Assembly Intro  </h2>
	<h3 class="arm_assembly"> Learning ARM Assembly through Idiomatic Usage </h3>
	<h3 class="arm_assembly"> or </h3>
	<h3 class="arm_assembly"> “What do you mean you don’t understand me??! I said exactly what Google Translate told me to say!” </h3>
</div>

<div class="arm_assembly_c_idioms_section">
	<h2 class="arm_assembly">***************************</h2>
	<h2 class="arm_assembly"> ARM Assembly Idioms and Constructs </h2>
	<h2 class="arm_assembly">***************************</h2>
	<h2 class="arm_assembly"> Bitwise Operators </h2>
	<h3 class="arm_assembly"> bitwise_operators.c</h2>
	<div class="arm-assembly-row">
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.c_source %}
				{% highlight c linenos %}
					{% include {{ page.c_source }} %}
				{% endhighlight %}
			{% endif %}
		</div>
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.arm_source %}
				{% highlight nasm linenos %}
					{% include {{ page.arm_source }} %}
				{% endhighlight %}
			{% endif %}
		</div>
	</div>
	<div class="arm-assembly-row">
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.c_max_or %}
				{% highlight c linenos %}
					{% include {{ page.c_max_or }} %}
				{% endhighlight %}
			{% endif %}
		</div>
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.arm_max_or %}
				{% highlight nasm linenos %}
					{% include {{ page.arm_max_or }} %}
				{% endhighlight %}
			{% endif %}
		</div>
	</div>
	<div class="arm-assembly-row">
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.c_max_xor %}
				{% highlight c linenos %}
					{% include {{ page.c_max_xor }} %}
				{% endhighlight %}
			{% endif %}
		</div>
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.arm_max_xor %}
				{% highlight nasm linenos %}
					{% include {{ page.arm_max_xor }} %}
				{% endhighlight %}
			{% endif %}
		</div>
	</div>
	<div class="arm-assembly-row">
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.c_max_and %}
				{% highlight c linenos %}
					{% include {{ page.c_max_and }} %}
				{% endhighlight %}
			{% endif %}
		</div>
		<div class="col-sm-12 col-m-12 col-6">
			{% if page.arm_max_and %}
				{% highlight nasm linenos %}
					{% include {{ page.arm_max_and }} %}
				{% endhighlight %}
			{% endif %}
		</div>
	</div>
	<h2 class="arm_assembly">***************************</h2>
</div>
<div class="arm_assembly_c_idioms_section">
	<h2 class="arm_assembly">***************************</h2>
	<h2 class="arm_assembly">References </h2>
	<h2 class="arm_assembly">***************************</h2>
	<p class="arm_assembly">I refer the reader to two exceptional tutorials online:</p>
	<div class="arm_assembly_c_idioms_section">
		<p class="arm_assembly">Azeria Labs <a class="arm_assembly" target="_blank" rel="noopener noreferrer" href="https://azeria-labs.com/writing-arm-assembly-part-1/">Introduction to ARM Assembly Basics</a></p>
	</div>	
	<div class="arm_assembly_c_idioms_section">
		<p class="arm_assembly">Think in Geek <a class="arm_assembly" target="_blank" rel="noopener noreferrer" href="https://thinkingeek.com/arm-assembler-raspberry-pi/">ARM Assembler in Raspberry Pi</a></p>
	</div>
</div>
