---
layout: default
title: Drawings
permalink: /portfolio/drawings/


drawings:
  - title: Mapping 1
    image_path: assets/images/drawings/maps/mappingnew1.jpg
    index: 1
  - title: Mapping 2
    image_path: assets/images/drawings/maps/mappingnew2.jpg
    index: 2
  - title: Mapping 3
    image_path: assets/images/drawings/maps/mappingnew3.jpg
    index: 3
  - title: Median
    image_path: assets/images/drawings/algo/median.jpg
    index: 4

---

<h2 class = "gallery-title"> Drawings </h2>

<div class = "slideshow-gallery">	
	
	{% for image in site.static_files %}
		{% if image.path contains 'images/drawings/maps/mappingnew1' %}
			<div class= "mySlides">
				<div class = "numbertext"> 1 / 7 </div>
				<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
			</div>
		{% elsif image.path contains 'images/drawings/maps/mappingnew2' %}
			<div class= "mySlides">
				<div class = "numbertext"> 2 / 7</div>
				<img class="galleryImage" src="{{site.url}}/{{image.path}}">
			</div>
		{% elsif image.path contains 'images/drawings/maps/mappingnew3' %}
			<div class= "mySlides">
				<div class = "numbertext"> 3 / 7</div>
				<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
			</div>
		{% elsif image.path contains 'images/drawings/algo/median' %}
			<div class= "mySlides">
				<div class = "numbertext"> 4 / 7 </div>
				<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
			</div>
		{% elsif image.path contains 'images/drawings/metalprint/metalfinal' %}
			<div class= "mySlides">
				<div class = "numbertext"> 5 / 7</div>
				<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
			</div>
		{% elsif image.path contains 'images/drawings/history/gentileschi1' %}
			<div class= "mySlides">
				<div class = "numbertext"> 6 / 7 </div>
				<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
			</div>
		{% elsif image.path contains 'images/drawings/history/gentileschi2' %}
			<div class= "mySlides">
				<div class = "numbertext"> 7 / 7 </div>
				<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
			</div>
		{% endif %}
	{% endfor %}
	

	<a class ="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class ="next" onclick="plusSlides(1)">&#10095;</a>

	<div class ="caption-container">
		<p id="caption"></p>
	</div>

	<div class = "row">
		{% for image in site.static_files %}
			{% if image.path contains 'images/drawings/maps/mappingnew1' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(1)" class = "demo cursor" alt = "Mapping1">
				</div>
			{% elsif image.path contains 'images/drawings/maps/mappingnew2' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(2)" class = "demo cursor" alt = "Mapping2">
				</div>
			{% elsif image.path contains 'images/drawings/maps/mappingnew3' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(3)" class = "demo cursor" alt = "Mapping3">
				</div>
			{% elsif image.path contains 'images/drawings/algo/median' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(4)" class = "demo cursor" alt = "Median">
				</div>
			{% elsif image.path contains 'images/drawings/metalprint/metalfinal' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(5)" class = "demo cursor" alt = "Mapping1">
				</div>
			{% elsif image.path contains 'images/drawings/history/gentileschi1' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(6)" class = "demo cursor" alt = "Gentileschi1">
				</div>
			{% elsif image.path contains 'images/drawings/history/gentileschi2' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(7)" class = "demo cursor" alt = "Gentileschi2">
				</div>
			{% endif %}
		{% endfor %}
	</div>

</div>

<script src = "/assets/js/gallery.js"> </script>

