---
layout: default
title: Drawings
permalink: /portfolio/drawings/
---

<h2 class = "gallery-title"> Drawings </h2>


<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_0/aluminum_0_full' %}
			<div class = "col-sm-6 col-m-6 col-6">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_0();currentSlide_aluminum_0(10)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>
<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_0' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_0();currentSlide_aluminum_0(1)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_3' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(2)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_6' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(3)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_1' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(4)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_4' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(5)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_7' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(6)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_2' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(7)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_5' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(8)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_8' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_0();currentSlide_aluminum_0(9)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_1/aluminum_1_full' %}
			<div class = "col-sm-6 col-m-6 col-6">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_1();currentSlide_aluminum_1(10)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_0' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_1();currentSlide_aluminum_1(1)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_1' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(2)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_2' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(3)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_3' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(4)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_4' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(5)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_5' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(6)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_6' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(7)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_7' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(8)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_8' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_1();currentSlide_aluminum_1(9)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_2/aluminum_2_full' %}
			<div class = "col-sm-6 col-m-6 col-6">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_2();currentSlide_aluminum_2(1)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_0' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_2();currentSlide_aluminum_2(1)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_1' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(2)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_2' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(3)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_3' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(4)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_4' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(5)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_5' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(6)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_6' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(7)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_7' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(8)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_8' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_2();currentSlide_aluminum_2(9)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_3/aluminum_3_full' %}
			<div class = "col-sm-6 col-m-6 col-6">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_3();currentSlide_aluminum_3(1)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>
<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_0' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_3();currentSlide_aluminum_3(1)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_3' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(2)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_6' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(3)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_1' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(4)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_4' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(5)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_7' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(6)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_2' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(7)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_5' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(8)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_8' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_3();currentSlide_aluminum_3(9)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_4/aluminum_4_full' %}
			<div class = "col-sm-6 col-m-6 col-6">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_4();currentSlide_aluminum_4(1)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>
<div class = "row">
	{% for image in site.static_files %}
		{% if image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_0' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}" onclick="openModal_aluminum_4();currentSlide_aluminum_4(1)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_3' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(2)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_6' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(3)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_1' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(4)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_4' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(5)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_7' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(6)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_2' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(7)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_5' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(8)" class = "hover-shadow cursor">
			</div>
		{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_8' %}
			<div class = "col-sm-4 col-m-4 col-4">
				<img src="{{site.url}}/{{image.path}}"  onclick="openModal_aluminum_4();currentSlide_aluminum_4(9)" class = "hover-shadow cursor">
			</div>
		{% endif %}
	{% endfor %}
</div>


<div id= "myModal_aluminum_0" class = "modal">	
	<span class = "close cursor" onclick="closeModal_0()">&times;</span>
	<div class = "modal-content">

		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_0' %}
				<div class= "mySlides_aluminum_0">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_1' %}
				<div class= "mySlides_aluminum_0">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_2' %}
				<div class= "mySlides_aluminum_0">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_3' %}
				<div class= "mySlides_aluminum_0">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_4' %}
				<div class= "mySlides_aluminum_0">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_5' %}
				<div class= "mySlides_aluminum_0">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_6' %}
				<div class= "mySlides_aluminum_0">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_7' %}
				<div class= "mySlides_aluminum_0">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_8' %}
				<div class= "mySlides_aluminum_0">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% endif %}
		{% endfor %}
	

		<div class ="caption-container">
			<p id="caption_aluminum_0"></p>
		</div>


	
		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_0' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(1)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_1' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(2)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_2' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(3)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_3' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(4)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_4' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(5)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_5' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(6)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_6' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(7)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_7' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(8)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_0/new_fragment_8' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_0(9)" class = "aluminum_0 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 0' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% endif %}
		{% endfor %}

	</div>
</div>

<div id= "myModal_aluminum_1" class = "modal">	
	<span class = "close cursor" onclick="closeModal_1()">&times;</span>
	<div class = "modal-content">

		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_0' %}
				<div class= "mySlides_aluminum_1">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_1' %}
				<div class= "mySlides_aluminum_1">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_2' %}
				<div class= "mySlides_aluminum_1">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_3' %}
				<div class= "mySlides_aluminum_1">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_4' %}
				<div class= "mySlides_aluminum_1">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_5' %}
				<div class= "mySlides_aluminum_1">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_6' %}
				<div class= "mySlides_aluminum_1">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_7' %}
				<div class= "mySlides_aluminum_1">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_8' %}
				<div class= "mySlides_aluminum_1">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% endif %}
		{% endfor %}
	

		<div class ="caption-container">
			<p id="caption_aluminum_1"></p>
		</div>


	
		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_0' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(1)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_1' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(2)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_2' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(3)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_3' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(4)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_4' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(5)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_5' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(6)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_6' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(7)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_7' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(8)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_1/new_fragment_8' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_1(9)" class = "aluminum_1 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 1' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% endif %}
		{% endfor %}

	</div>
</div>

<div id= "myModal_aluminum_2" class = "modal">	
	<span class = "close cursor" onclick="closeModal_2()">&times;</span>
	<div class = "modal-content">

		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_0' %}
				<div class= "mySlides_aluminum_2">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_1' %}
				<div class= "mySlides_aluminum_2">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_2' %}
				<div class= "mySlides_aluminum_2">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_3' %}
				<div class= "mySlides_aluminum_2">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_4' %}
				<div class= "mySlides_aluminum_2">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_5' %}
				<div class= "mySlides_aluminum_2">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_6' %}
				<div class= "mySlides_aluminum_2">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_7' %}
				<div class= "mySlides_aluminum_2">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_8' %}
				<div class= "mySlides_aluminum_2">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% endif %}
		{% endfor %}
	

		<div class ="caption-container">
			<p id="caption_aluminum_2"></p>
		</div>


	
		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_0' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(1)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_1' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(2)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_2' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(3)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_3' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(4)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_4' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(5)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_5' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(6)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_6' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(7)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_7' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(8)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_2/new_fragment_8' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_2(9)" class = "aluminum_2 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 2' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>


<div id= "myModal_aluminum_3" class = "modal">	
	<span class = "close cursor" onclick="closeModal_3()">&times;</span>
	<div class = "modal-content">

		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_0' %}
				<div class= "mySlides_aluminum_3">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_1' %}
				<div class= "mySlides_aluminum_3">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_2' %}
				<div class= "mySlides_aluminum_3">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_3' %}
				<div class= "mySlides_aluminum_3">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_4' %}
				<div class= "mySlides_aluminum_3">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_5' %}
				<div class= "mySlides_aluminum_3">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_6' %}
				<div class= "mySlides_aluminum_3">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_7' %}
				<div class= "mySlides_aluminum_3">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_8' %}
				<div class= "mySlides_aluminum_3">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% endif %}
		{% endfor %}
	

		<div class ="caption-container">
			<p id="caption_aluminum_3"></p>
		</div>


	
		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_0' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(1)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_1' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(2)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_2' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(3)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_3' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(4)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_4' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(5)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_5' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(6)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_6' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(7)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_7' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(8)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_3/new_fragment_8' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_3(9)" class = "aluminum_3 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 3' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div id= "myModal_aluminum_4" class = "modal">	
	<span class = "close cursor" onclick="closeModal_4()">&times;</span>
	<div class = "modal-content">

		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_0' %}
				<div class= "mySlides_aluminum_4">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_1' %}
				<div class= "mySlides_aluminum_4">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_2' %}
				<div class= "mySlides_aluminum_4">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_3' %}
				<div class= "mySlides_aluminum_4">
					<img class="galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_4' %}
				<div class= "mySlides_aluminum_4">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_5' %}
				<div class= "mySlides_aluminum_4">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_6' %}
				<div class= "mySlides_aluminum_4">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_7' %}
				<div class= "mySlides_aluminum_4">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_8' %}
				<div class= "mySlides_aluminum_4">
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% endif %}
		{% endfor %}
	

		<div class ="caption-container">
			<p id="caption_aluminum_4"></p>
		</div>


	
		{% for image in site.static_files %}
			{% if image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_0' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(1)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_1' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(2)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_2' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(3)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_3' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(4)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_4' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(5)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_5' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(6)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_6' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(7)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_7' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(8)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% elsif image.path contains 'images/aluminum_scans_fragments/aluminum_4/new_fragment_8' %}
				<div class = "col-sm-2 col-m-2 col-2">
					<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide_aluminum_4(9)" class = "aluminum_4 cursor" alt = "[fragment] 'the people never change, like the furniture, reconfigured but same framework, same upholstery -- iteration 4' <br> scan of woodblock print with repeated watermark (generated and embedded within the image using Python script); 2020">
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<script src = "/assets/js/gallery.js"> </script>
