---
layout: archive
permalink: /projects/livingArchive/
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h2 class="living_archive"> Living Archive </h2>

<div class="living_archive_intro">

	<p class="living_archive"> Welcome to the Living Archive. This is a list of lists of works that I am currently reading, watching, listening to, looking at, reflecting upon, repetitively. </p>

	<p class="living_archive">This list changes frequently, so I will maintain an archive of archives. If you ever wish to view previous collections, they will be in the <a href="/projects/livingArchive/crypt"> ~*crypt*~ </a></p>

	<p class="living_archive">This living archive is organized like a library, or even a Blockbuster — there is a classics collection and a new releases collection. I return to a few pieces often enough for them to be featured separately as classics. New works that relate to specific projects will be categorized under new releases and then added to classics if I particularly enjoyed the works and felt that the messages therein were notably impactful and insightful. 
Classics are marked with a *, new releases are marked with a +. </p>

</div>



<h2 class = "living_archive"> References</h2>

<div class="archive__buttons row">
	<button class="archivebutton" id = "articles">Articles</button>
	<button class="archivebutton" id = "books">Books</button>
	<button class="archivebutton" id = "films">Films</button>
</div>
<div class="archive__sources row">
	<div class= "col-sm-12 col-m-3 col-3" id = "articles_section">
		<h2> Articles </h2>
		<ul class="living_archive_resource_list">
			{% for resource in site.data.curr_archive.resources %}
				{% if resource.format contains 'article' %}
					<li class="living_archive_resource">
						<p class="living_archive" id="resource_elem"> {{ resource.title }} {{ resource.new_classic}}</p>
						<p class="living_archive" id="resource_elem"> {{ resource.author }} - {{ resource.publication_date }} </p>
						<p class="living_archive" id="resource_elem"> {{ resource.publisher }} </p>
						<a href= "{{ resource.url }}">{{ resource.url }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class= "col-sm-12 col-m-3 col-3" id ="books_section">
		<h2> Books </h2>
		<ul class="living_archive_resource_list">
			{% for resource in site.data.curr_archive.resources %}
				{% if resource.format contains 'book' %}
					<li class="living_archive_resource">
						<p class="living_archive" id="resource_elem"> {{ resource.title }} {{ resource.new_classic }}</p>
						<p class="living_archive" id="resource_elem"> {{ resource.author }} - {{ resource.publication_date }} </p>
						<p class="living_archive" id="resource_elem"> {{ resource.publisher }} </p>
						<a href= "{{ resource.url }}">{{ resource.url }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class= "col-sm-12 col-m-3 col-3" id = "films_section">
		<h2> Films </h2>
		<ul class="living_archive_resource_list">
			{% for resource in site.data.curr_archive.resources %}
				{% if resource.format contains 'film' %}
					<li class="living_archive_resource">
						<p class="living_archive" id="resource_elem"> {{ resource.title }} {{ resource.new_classic }}</p>
						<p class="living_archive" id="resource_elem"> {{ resource.author }} - {{ resource.publication_date }} </p>
						<p class="living_archive" id="resource_elem"> {{ resource.publisher }} </p>
						<a href= "{{ resource.url }}">{{ resource.url }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>

<script>
$(document).ready(function(){
	$("#books").click(function(){
		$("#books_section").slideToggle("slow");
	});
	$("#articles").click(function(){
		$("#articles_section").slideToggle("slow");
	});
	$("#films").click(function(){
		$("#films_section").slideToggle("slow");
	});
});
</script>
