---
layout: default
permalink: /projects/triangulation/

---
<script src = "/assets/js/homePage.js"></script>


<div id = "graphic">
	<div class="parallax">
		<div id = "module1" class ="parallax__group">
			<div class="parallax__layer parallax__layer--base">
				<h2> Applications of Delaunay Triangulation and Edge Flipping in Facial Recognition and Detection</h2>
				<h3> (subtitle: Make Yourself Cubist&trade;) </h3> 

				<h3> More formally:  
					<a href= "{{site.url}}/assets/pdf/comp163reportNikaKorchok.pdf"> here</a>.
				</h3>

				<div class="content">

					<div class = "imageRow">

						<div class="imageBox">
							<img id = "voronoi" src = "/assets/images/163images/triangulationImages/fillTest1.jpg" alt = "nikaVoronoi1">
						</div>

						<div class="imageBox">
							<img id = "voronoi" src = "/assets/images/163images/triangulationImages/steiner2.jpg" alt = "nikaVoronoi2">
						</div>

						<div class="imageBox">
							<img id = "voronoi" src = "/assets/images/163images/triangulationImages/voronoiGray.jpg" alt = "nikaVoronoi3">
						</div>

					</div>

					<p class="triangulation">
						Open Snapchat to take a selfie. Fix your hair, tilt your chin just so, perhaps parlay a smize and — No no, pause. You realize now that this is the perfect moment. This is the moment where you take a selfie such that you become another iteration of that canonical dog-eared millennial archetype.
					</p>

					<p class="triangulation">
						Okay, reposition, prep that puppy pout and tap the screen. And then, there, in that brief moment  in the interim, between pressing the screen and when a cascade of filter options appear, it appears to you, like a flock of magical realist butterflies in Macondo:  a triangulation.
					</p>
					<p class="triangulation">
						At first glance, it is only a hallucinatory splice of memory from a Computational Geometry lecture, long ago. But no, it is truly there: the revelation of the structure that is the topology of your face.
					</p>
				</div>

				<div class = "content"> 
					<p class="triangulation">There is a brief moment in the interim, between pressing the screen and when a cascade of filter options appear, when the Snapchat screen makes itself vulnerable — or seemingly so. Perhaps the algorithm (point location, triangulation, alpha mask generation, etc.) is simply not fast enough to go unnoticed. Or perhaps, in hinting a glimpse at your triangular decomposition, a user  feels that tantalizing endorphin-surging rush of peeking behind the curtain as the Wizard soliloquizes about the mysteries of the “cloud."</p>

					<p class="triangulation">Or perhaps, like most users, you never noticed the triangular mesh on your hurried way to transfigure yourself into some canonical dog-eared millennial archetype. That’s about to change. </p>
				</div>
				<div class = "imageRow">
					<div class = "imageBox">
						<img id = "snapTri" src = "/assets/images/163images/triangulationImages/filltest1.jpg" alt = "snapChat Triangulation">
					</div>
					<div class="imageBox">
						<img id = "snapTri" src = "/assets/images/163images/triangulationImages/filltest1.jpg" alt = "snapChat Triangulation">
					</div>
					<div class="imageBox">
						<img id = "snapTri" src = "/assets/images/163images/triangulationImages/filltest1.jpg" alt = "snapChat Triangulation">
					</div>
				</div>

				<div class = "content"> 

					<p class="triangulation">A triangulation is a maximum planar subdivision - a breaking of a polygon or a point set into triangles. Segmentation of a larger space into manageable pieces allows for a myriad of complex operations — point location (i.e. google maps), an optimized distribution of vantage points (i.e. art gallery guarding), or, in this case, the creation of a mesh of a face for computer graphics rendering.
					</p>

					<p class="triangulation"> As with all divisions of space, there exists a multiplicity of means to deconstruct a face. This project was commenced from an initial search for an optimal facial triangulation. 
					</p>

					<p class="triangulation"> What does it mean to have an optimal facial triangulation? In the context of this project, it is a fast yet reliant algorithm to render an accurate mapping of facial landmarks (eyes, ears, mouth and nose) for later processing. We can think of it this way — in order to allow for persistance of a projected filter onto a face, the algorithm, for detection of landmarks and their subsequent division via relationship-denoting edges, must return a triangulation that is rooted in the variable nature of a facial construction. 
					</p>

					<p class="triangulation">A facial triangulation algorithm must detect facial landmarks and then triangulate that representative point set such that graphics mappings can be persistently implemented, irrespective of shifts in light, direction or background noise in the camera image capture.
					</p>

					<p class="triangulation">This project seeks to flesh out what is known as algorithmic transparency — herein defined as a clear and meticulous dissection of the numerous steps of an algorithm, for the goal of elucidating the structure and decisions of a perhaps-opaque-seeming technology. In short, to allow a user to peek behind the wizard’s curtain.
					</p>

					<h4> Why? </h4>
				</div>

				<div class = "content"> 
					<p class="triangulation">We delineate spaces without thinking. This is a way to think about how we create referential landmarks to ourselves and to other points. This is an exploration of space, divisions of space and the landmarks we forget to notice on the landscapes that we most frequently apotheosize and excoriate concurrently — our own faces.</p>
				</div>

				<div class = "content">
					<p class="triangulation"> A copy of the more formal research paper that resulted from this project is available in PDF format via the link at the top of this page</p>
				</div>
									
			<div class = "parallax__layer parallax__layer--back-1">
				<div class="content_label">
					<h3> Pixels </h3>
				</div>
			</div>
		</div>
	
		<div id="module-2" class= "parallax__group">
			<div class = "parallax__layer parallax__layer--base">
				<div class = "content"> 
					<p class="triangulation">Understanding the process of triangulating a selected face region (i.e. what we need so we can put a cutesy infantilizing dog filter on it!) requires understanding how a computer understands a photograph. </p>

					<p class="triangulation">A pixel - unit of measurement - a square on your screen - the number of which per inch (the correct usage of “ppi” not “dpi” will earn you bonus points with the 𝜋 people who care and put you ~3𝜎 away from the fickle favors of the general population, but now you know) can reveal more and more ugly details of any given image.</p>
					<div class = "imageRow">
						<div class = "imageBox">
							<img id = "snapTri" src = "/assets/images/163images/triangulationImages/filltest1.jpg" alt = "snapChat Triangulation">
								<div class = imgText> 
								</div>
						</div>
						<div class="imageBox">
							<img id = "snapTri" src = "/assets/images/163images/triangulationImages/filltest1.jpg" alt = "snapChat Triangulation">
								<div class = imgText> 
								</div>
						</div>
						<div class="imageBox">
							<img id = "snapTri" src = "/assets/images/163images/triangulationImages/filltest1.jpg" alt = "snapChat Triangulation">
								<div class = imgText> 
								</div>
						</div>
					</div>

					<p class="triangulation">A single pixel contains a wealth of knowledge that is both bountiful and generally rather accessible; there are no offshore Cayman Islands accounts for pixel info — not yet, anyways.</p> 
				
					<p class="triangulation">Image pixels are stored as one-dimensional arrays. While we view an image as having two dimensions (Euclidean x,y coordinates or “height” and “width”), the pixels are stored in one contiguous strip. A pixel at location (x,y) in a picture is indexed in the pixel array at [x+ y*width].
					</p>
				</div>
			
			</div>
	</div>

	<div id = "module2" class = "parallax__group">
		<div class = "parallax__layer parallax__layer--back-2">
				<div class="content_label">
					<h2>2. Convolution</h2>
				</div>
		</div>
		<div class="parallax__layer parallax__layer--base">
			<div class = "content">
				<p class="triangulation">Take a picture. Put another over it. This is like every problematic makeover scene in every teen movie that defined my early years before I found Hal Ashby and Agnès Varda: whatever veneer you choose to smear over the face of the original image will make it unequivocally better than its previous iteration. Did you know that self-hate is a native data type in a JPEG?   </p>


				<div id = "imageRow">
					<img class= "histoGramCheck" src = "/assets/images/163images/edgeDetect/gaussCheck-gray.jpg" alt = "snapChat Triangulation">
					<img class = "histoGramCheck" src = "/assets/images/163images/histogramCheck-grayGaussian.jpg" alt = "snapChat Triangulation">
				</div>

				
			</div>
			<div class = "content">
				<p class="triangulation">A convolution is like putting a piece of stained glass over a window pane — it does not technically alter the original data of the image, but it does alter our view — we “convolve” an image with a convolution matrix, by passing a small amount of window paint / across the / window pane. (Sorry, Sylvia, not my best.)</p>
			</div>


			<div class = "content">
				<p class="triangulation">Once you’ve painted the window with this convolution matrix, the image will look different. A swipe of lipstick and sad.jpeg becomes missCongeniality.jpeg to our program’s eyes.   </p>
				
				<p class="triangulation">Ceci n’est pas une fenêtre? Remember, we’re not looking at something real — we’re looking at a representation of something real. It’s not really your face on the screen, it’s a representation of your face on the screen that you have been fooled to believe is truth; your face is actually just malleable numbers organized into a straight line. </p> 
			</div>

			<div class = "content">
				<p class="triangulation">Take, for example, a Gaussian filter.</p>
			</div>

			<div class = "content">
				<p class="triangulation">What?</p> 

				<p class="triangulation"> Essentially a reduction in noise. More formally, setting value of pixel to a value that is the normalized, weighted average of the pixels in a set neighbourhood around that pixel. We are making the picture less crisp, less defined, less interesting — perhaps an Orwellian convolution of a pixel via a given matrix such that a flatter and more complacent range of values correlating to thinkspeak results. </p> 
			</div>

			<div class = "content">
				<p class="triangulation">Gaussian filtering opens the doors for other operations — Sobel Edge detection, corner detection, and greater accuracy for finding facial landmark points.</p> 
			</div>



			<h2>See Resources:</h2>
			<ul class = "references">
				<li><a href ="http://homepages.inf.ed.ac.uk/rbf/HIPR2/gsmooth.htm">Gaussian Smoothing</a></li>

				<li><a href ="http://www.learnopencv.com/histogram-of-oriented-gradients/">Histogram of Oriented Gradients</a></li> 

				<li><a href ="https://www.learnopencv.com/image-recognition-and-object-detection-part1/"></a>Image Recognition and Object Detection with OpenCV</li> 

				<li><a href ="https://www.researchgate.net/publication/220646162_Face_recognition_using_Histograms_of_Oriented_Gradients">Face Recognition using Histograms of Oriented Gradients</a></li> 

				<li><a href ="http://setosa.io/ev/image-kernels/">Image Kernels</a></li> 

				<li><a href ="http://www.cse.cuhk.edu.hk/leojia/papers/portrait_eg16.pdf"></a></li> 

				<li><a href ="https://www.cs.auckland.ac.nz/courses/compsci373s1c/PatricesLectures/Gaussian%20Filtering_1up.pdf"></a></li> 

				<li><a href ="https://www.geometrictools.com/Documentation/Skeletons.pdf"></a></li> 

				<li><a href ="https://www.researchgate.net/publication/220646162_Face_recognition_using_Histograms_of_Oriented_Gradients"></a></li>

			</ul>

		</div>
	<div id = "module3" class = "parallax__group">
		<div class = "parallax__layer parallax__layer--back-3">
				<div class="content_label">
					<h2> 3. Face Detection </h2>
				</div>
			</div>
		</div>

		<div class = "parallax__layer parallax__layer--base">
			<div class = "content"> 
				<p class="triangulation">Face detection in an image essentially works in two parts here: (I) detection of the “blob,” or “contour” or “shape” of what is recognized as a face; (II) detection of the landmark points that make up a face — i.e. eyes, nose, mouth, jawline.</p> 
			</div>

			<div class = "content">
				<p class="triangulation">For ease and simplicity, I have used the OpenCV module for Face Detection to create a bounding box from which to work for the remainder of this visualization.</p> 
			</div>

			<a href="https://github.com/atduskgreg/opencv-processing-book/blob/master/book/tracking/face_detection.md"></a> 

			<a href ="http://www.magicandlove.com/blog/2013/04/05/the-new-face-detection-and-processing/"></a> 
		</div>
	</div>

	<div id="module4" class="parallax__group">
		<div class = "parallax__layer parallax__layer--back-4">
			<div class="content_label">
				<h2>4. Point Location </h2>
			</div>
		</div>
		<div class="parallax__layer parallax__layer--base">
			<div class = "content"> 
				<p class="triangulation">To be able to generate filters, image manipulations on our bounding-box-designated face region, we will have to first locate the "landmark points" that make up a face. Landmark points can be understood as a very basic division of the face into eyes, ears, mouth and nose, but distilled to a few key coordinates for each. In a sense, a rather emoji-like rendering of your face is distilled from all of the information. Isn't it nice to know that you can be reduced to a post-human version of yourself faster than you can say ex-Machina?</p> 

				<p class="triangulation"> Let's understand how to do that. </p>
			</div>

		

			<div class = "content">
			<h3> Facial Landmarks </h3>
				<p class="triangulation">We want to determine “facial landmarks.”  There are several different libraries used commonly for Machine Learning related to facial detection/ recognition which rely on libraries of hand-drawn facial landmarks on “generic” faces (this is perhaps playing into standards of Euro-centric standards of Western beauty and “accepted” facial structures — an important point to note that I will not delve into here but which can be explored <a href="https://www.theatlantic.com/technology/archive/2016/04/the-underlying-bias-of-facial-recognition-systems/476991/">here</a> and <a href="https://www.theguardian.com/technology/2017/may/28/joy-buolamwini-when-algorithms-are-racist-facial-recognition-bias">here</a> and more in-depth <a href = "https://www.ajlunited.org/">here</a> ).</p> 
			</div>

			<div class = "content">
				<p class="triangulation">These libraries (i.e. iBUG etc) use these input facial “maps” as a guide — once interest points are detected, the generic 68-point mapping of facial landmarks can be used to refine and adjust the location of the landmarks on an input image. </p> 
			</div>

			<div class = "content">
				<p class="triangulation">Euclidean distances between detected interest points and the location of landmarks on inputted maps can verify or discard interest points until an approximate set of 68 points (or more or less, depending on the library) is determined.</p> 
			</div>

			<div class = "content">
				<p class="triangulation">For this visualization, I have chosen to forgo utilizing ML technologies and external libraries of facial landmarks for simplicity’s sake. In the narcissistic spirit of selfie-culture, I have used a singular image of my own face as a baseline. </p>

				<!--<p class="triangulation"> In the narcissistic spirit of selfie-culture, I have leaned closer and closer to the shimmering crystalline screen and will likely fall in, drown and become a flower of my own namesake (Nika has really cute Greek origins that align me closely with the inspiration for an athletic shoe company, so this prophetic mythological destiny is already pretty deterministically (O(nlogn)) fated) -- but someone has to bear the burden of being a suffering artist for the sake of computational geometry (let the spirit of Sylvia Plath guide me on this single-source-shortest-path towards my goal. </p> -->

			<div class="content">
				<p class="triangulation"> Using reference images from the 68-landmark-point model, I approximated this path on my face. This process strangely parallels the source material used in databases for these libraries -- I am using hand-drawn approximations to use as a comparative model. This is a rather naive, perhaps brute-force way of approximating facial features, but it accomplishes the task needed for this visualization — which is simply, to make your face “Cubist” via a triangulation mesh. </p> 
			</div>
			
			<div class = "content">
				<p class="triangulation"> This base image -- selfie with self-approximated landmark points -- was then condensed further. 
				</p>

				<div id = "imageRow">
					<img class = "gaussCheck" src = "/assets/images/163images/edgeDetect/gaussCheck-1.jpg" alt = "snapChat Triangulation">
					<img class = "gaussCheck" src = "/assets/images/163images/edgeDetect/gaussCheck-5.jpg" alt = "snapChat Triangulation">
				</div>


			</div>

			<div class = "content"> 
				<p class="triangulation">b) Use convolution matrix of Gaussian filter to “smooth” image; poetically, this is the blurring of lines that separate our bodies from the space that surrounds them; algorithmically, this is a way to quantize pixel brightness values to refine the pool of potential landmarks while still retaining the majority of original “edges” in an image.</p> 
			</div>

			<div class = "content">
				<p class="triangulation"> c) Use Sobel edge-detection algorithm on smoothed image. This will detect "edges" (places where there is a large brightness shift between adjacent pixels (pixels that are located either vertically or horizontally next to one another but NOT those pixels that are located next to each other on a diagonal).</p>
			

 				<div id = "imageRow">
					<img class = "edgeDetect" src = "/assets/images/163images/edgeDetect/sobelPlainWithGaussianFive.jpg" alt = "snapChat Triangulation">
					<img class = "edgeDetect" src = "/assets/images/163images/robertsPlain1.jpg" alt = "snapChat Triangulation">
				</div>
			</div>
			<div class = "content"> 
				<p class="triangulation"> d) Use Shi-Tomasi Corner Detection - using the stack of detected edge pixels, we can use this smaller data set to determine “corners” — which we will then then refine to interest points.</p> 
				<a href="http://www.ai.mit.edu/courses/6.891/handouts/shi94good.pdf">Shi-Tomasi Corner Detection Algorithm</a>
			</div>

			<div class = "content">
				<p class="triangulation"> Using a 3x3 matrix of input pixels, we calculate the average difference in pixel brightness to find areas — to be further refined to points — of high contrast.  Why?</p>
			</div>

			<div class = "content">
				<p class="triangulation">Contrary to the Photoshop trigger-happy poreless finish of the advertising world, our faces (all surfaces) are made up of planes which, courtesy of undulating concavities and convexities, reveal dimensionality — also known as what the hair-care world has co-opted as “volume.” </p> 
			</div>

			<div class = "content">
				<p class="triangulation">Find these areas where light meets deep shadow, and you have located facial landmarks, which we can use for a myriad of recreational purposes like mapping filters of mildly fetishized forest creatures or for creating an NSA database for quick and painless identification. Endless possibilities. </p> 
			</div>

			<div class = "content">
				<p class="triangulation">Let’s make some triangles for now.</p> 
			</div>	 
		</div>
	</div>


	<div id = "module5" class="parallax__group">
		<div class="parallax__layer parallax__layer--back-5">
			<div class = "text">
				<h2> 6. Convex Hull </h2>
			</div>
		</div>

		<div class="parallax__layer parallax__layer--base">
			<div class = "content">
				<p class="triangulation"> So we have points. That’s nice. Remember when your 2nd grade art teacher critiqued your family portrait because you drew the faces askew and the dots for the eyes melting into the bottom of the chin and you told her that she a soul-eviscerating robot for disregarding the merit of your work because André Breton would really enjoy your embrace of a visual perspective that veered away from conventional aesthetics and more towards a way of seeing that embraced the ideal of rêver en éveillant? (I wouldn’t know, I skipped second grade but I felt that this would be a good time for you to unload some emotional baggage. That’s really the entire point of AI isn’t it? (See <a href="http://www.imdb.com/title/tt1798709/videoplayer/vi4112492569?ref_=tt_ov_vi">Her</a>)).</p> 
			</div>

			<div class = "content">
				<p class="triangulation"> Yeah, that’s not this moment. Hopefully, this program didn’t detect the points for the eyes as being off the bounding box and the nose has a couple of points to be classified as a blob (not the horror flick. Also, a real term. I know, I was also surprised. Science is astounding, sometimes.) </p>
			</div>


			<div class = "content">
				<p class="triangulation"> Either way, you’ve got face points. Now we’re drawing a boundary for our points. </p>
			</div>


			<div class = "content">
				<p class="triangulation">But WAIT. Aren’t those points already within a bounding box (you shout at the sky, tears streaming down your face)? Isn’t this a frame within a frame already? When does the frame end and the picture begin? What about a post-structural space of viewing that doesn’t align itself within conventionality in the restrictive setting of a gallery which itself plays a part in institutional systems of oppression?</p>
			</div>


			<div class = "content">
				<p class="triangulation">Astoundingly, a convex hull, while a frame within a frame (meta, wow)), is also a beautiful way of demarcating space. We want the smallest boundary. Almost as though we want the boundary that can hug all of its points while still remaining aloof (do you get the portrait now, Ms. Richards?! Symbolism is not something I invented when I was seven, it’s a really poignant device for explaining relational aesthetics without implicating an explicit narrative in a work.)</p>
			</div>

			<!--

			<div class = "content">
				<p class="triangulation"> Algorithm used for convex hull calculation is Quick Hull, simply because I found it convenient to use the borders of the bounding box as the initial frame -- since bounding box was also used as a referential marker for finding landmark points, much of the computation for this had been done in preprocessing.</p>
			</div>

			-->

		</div>
	</div>

	<div id = "module6" class="parallax__group">
		<div class = "parallax__layer parallax__layer--back-6">
			<div class="content_label">
				<h2>7. Triangulation</h2>
			</div>
		</div>

		<div class = "parallax__layer parallax__layer--base">

			<div class = "content">
				<p class="triangulation">Sets of three are not fun if you want a college romance but they are nice when you are looking for ways to group points sets in a way that will translate to an even partitioning of space. </p>
			</div>

			<div>
				<a href="http://www.cs.tufts.edu/comp/163/davidM/DM-monotone.pdf">David Mount: Lecture Notes on Triangulating Monotone Polygons</a>
			</div>

			<div class = "content">
				<p class="triangulation"> For a deeper understanding of the foundations for the section, please see this paper by Chazelle on linear-time decompositions of simple polygons. <a href="https://www.cs.princeton.edu/~chazelle/pubs/polygon-triang.pdf"> Triangulating a Polygon in Linear Time </a></p>
			</div>
		</div>
	</div>

	<div id= "module7" class="parallax__group">
		<div class = "parallax__layer parallax__layer--back-7">
			<div class="content_label">
				<h2>8. Delaunay Triangulation </h2>
			</div>
		</div>

		<div class="parallax__layer parallax__layer--base">

			<div class = "content">
				<p class="triangulation">It is called the “most beautiful triangulation” amazingly not because it buys into the 90s heroin chic aesthetic of emaciation = beauty, but because, rather than preferring the thinnest triangles, this triangulation prefers an organization of triangles which maximize the minimum angle in each triangle. </p>
			</div>
			
		</div>	
	</div>

	<div id = "module8" class="parallax__group">
		<div class = "parallax__layer parallax__layer--back-8">
			<div class="content_label">
				<h2>9. Voronoi </h2>
			</div>
		</div>

		<div class="parallax__layer parallax__layer--base">

			<div class = "content">
				<p class="triangulation">Voronoi is a tie-breaker algorithm — it determines the delineations between points such that the dividing line between each two input points is equidistant from those two points. A medial axis, if you will.</p> 
			</div>

			<div class = "content">
				<p class="triangulation">There are some nice real-world understandings of this:  The range of a group of cell towers in a given city. Sad cubicles in a generic, soul-eviscerating job that functions as a cog in (*insert your favorite bureaucratic corporate conglomerate here*), meant to keep each person as close and as far from each other as possible at all times. This Creative Commons image of cells also illustrates a Voronoi diagram in nature — of which there are a plethora.</p>
			</div>

			<div class = "content">
				<p class="triangulation">Voronoi diagrams can perhaps feel isolating but they can also be protective — as in determining the optimal spacing of hexagonal plates on a tortoise shell so that the convex structure can maximize interior room (understanding that this is also looking at a 3D representation of a Voronoi diagram but, for poetic license, just allow me this example).</p>
			</div>

			<div class = "content">
				<p class="triangulation">Voronoi diagrams map distances from neighbors. Intuitively it follows that a Voronoi diagram (the dual of the Delaunay Triangulation) stems from the Minimum Spanning Tree and Nearest Neighbor Graphs of a given point set.</p>
			</div>


			<div class = "content">
				<p class="triangulation">Like a palimpsest, every layer of graph builds upon one another, each subsequent layer containing more edges, explaining different relationships. </p>
				<p class="triangulation"> NNG ( MST ( RNG ( GG ( DT </p>
			</div>

		</div>
	</div>


	<h2 class = "gallery-title"> Voronoi Mapping on an Input Image </h2>
	<div class = "slideshow-gallery">	
	
		{% for image in site.static_files %}
			{% if image.path contains 'images/163images/triangulationImages/steiner1' %}
				<div class= "mySlides">
					<div class = "numbertext"> 1 / 6 </div>
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/163images/triangulationImages/steiner3' %}
				<div class= "mySlides">
					<div class = "numbertext"> 2 / 6 </div>
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/163images/triangulationImages/steiner4' %}
				<div class= "mySlides">
					<div class = "numbertext"> 3 / 6 </div>
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/163images/triangulationImages/steiner5' %}
				<div class= "mySlides">
					<div class = "numbertext"> 4 / 6 </div>
					<img class = "galleryImage" src="{{site.url}}/{{image.path}}">
				</div>
			{% elsif image.path contains 'images/163images/triangulationImages/steiner6' %}
				<div class= "mySlides">
					<div class = "numbertext"> 5 / 6 </div>
				</div>
			{% elsif image.path contains 'images/163images/triangulationImages/steiner8' %}
				<div class= "mySlides">
					<div class = "numbertext"> 6 / 6 </div>
				</div>
			{% endif %}
		{% endfor %}

		<a class ="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class ="next" onclick="plusSlides(1)">&#10095;</a>

		<div class ="caption-container">
			<p id="caption"></p>
		</div>

		<div class = "row">
			{% for image in site.static_files %}
				{% if image.path contains 'images/163images/triangulationImages/steiner1' %}
					<div class = "col-sm-2 col-m-2 col-2">
						<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(1)" class = "demo" alt = "Voronoi1">
					</div>
				{% elsif image.path contains 'images/163images/triangulationImages/steiner3' %}
					<div class = "col-sm-2 col-m-2 col-2">
						<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(2)" class = "demo" alt = "voronoi3">
					</div>
				{% elsif image.path contains 'images/163images/triangulationImages/steiner4' %}
					<div class = "col-sm-2 col-m-2 col-2">
						<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(3)" class = "demo" alt = "voronoi4">
					</div>
				{% elsif image.path contains 'images/163images/triangulationImages/steiner5' %}
					<div class = "col-sm-2 col-m-2 col-2">
						<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(4)" class = "demo" alt = "voronoi5">
					</div>
				{% elsif image.path contains 'images/163images/triangulationImages/steiner6' %}
					<div class = "col-sm-2 col-m-2 col-2">
						<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(5)" class = "demo" alt = "voronoi6">
					</div>
				{% elsif image.path contains 'images/163images/triangulationImages/steiner8' %}
					<div class = "col-sm-2 col-m-2 col-2">
						<img src="{{site.url}}/{{image.path}}" onclick= "currentSlide(6)" class = "demo" alt = "voronoi7">
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<script src= "/assets/js/gallery.js"></script>
		
	</div>


	<div id = "module10" class="parallax__group">
		<div class = "parallax__layer parallax__layer--back>
			<div class="content">
				<h2> References: </h2>
			</div>
		</div>

		<div class = "parallax__layer parallax__layer--base">
			<h3> Academic Papers </h3>
			<ul class = "references">
				<li>
					R. Herpers and G. Sommer
					<a href="https://link.springer.com/chapter/10.1007/978-3-642-72201-1_26">“An Attentive Processing Strategy for the Analysis of Facial Features”</a>
				</li>
				<li>
					Peiyun Hu, Deva Ramanan Robotics Institute Carnegie Mellon University
					<a href="http://openaccess.thecvf.com/content_cvpr_2017/papers/Hu_Finding_Tiny_Faces_CVPR_2017_paper.pdf">“Finding Tiny Faces”</a>
				</li>
				<li>
					Dani Lischinski
					<a href= "http://www.karlchenofhell.org/cppswp/lischinski.pdf">“Incremental Delaunay Triangulation”</a>
				</li>

				<li>
					Hervé Jégou Inria, Rennes, & Andrew Zisserman, Dept. of Engineering Science, University of Oxford
					<a href="https://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Jegou_Triangulation_Embedding_and_2014_CVPR_paper.pdf">“Triangulation embedding and democratic aggregation for image search”</a>
				</li>

				<li>
					Marc Alexa et al. 
					<a href="http://www.sci.utah.edu/~shachar/Publications/crpss.pdf">“Computing and Rendering Point Set Surfaces”</a>
				</li>

				<li>
					Faniry Harijaona Razafindrazaka
					African Institute for Mathematical Sciences (AIMS)
					<a href="http://page.mi.fu-berlin.de/faniry/files/faniry_aims.pdf"> "Delaunay Triangulation Algorithm and Application to Terrain Generation"</a>
				</li>

			</ul>
			
			<h3> General Resources: </h3>
			<ul class = "references">
				<li><a href= "https://processing.org/tutorials/pixels/">Processing</a></li>

				<li><a href= "https://mgold.github.io/Triangulating-Star-Shaped-Polygon/"> Michael Goldstein's Triangulation Project from a COMP163 class </a> </li>

				<li><a href="http://www.learnopencv.com/image-recognition-and-object-detection-part1/">Image Recognition and Object Detection: OpenCV</a></li>

				<li><a href="http://aircconline.com/vlsics/V6N5/6515vlsi02.pdf/"> Paper </a></li>

				<li><a href= "https://forum.processing.org/one/topic/enums-in-processing-1-5-1.html"> Enums in Processing </a> </li>

				<li><a href= "https://github.com/ironwallaby/delaunay/blob/master/delaunay.js/"> Delaunay Example</a></li>
				
				<li><a href= "https://forum.processing.org/two/discussion/3705/vertices-of-chain-shape-are-too-close-together-help"></a></li>
				
				<li><a href= "https://www.geometrictools.com/Documentation/Skeletons.pdf">Skeletonization</a></li>

				<li><a href= "https://cseweb.ucsd.edu/~yfreund/papers/IntroToBoosting.pdf">Intro to Boosting</a></li>

				<li><a href= "http://www.vision.caltech.edu/html-files/EE148-2005-Spring/pprs/viola04ijcv.pdf"> Viola-Jones Algorithm </a></li>

				<li><a href= "http://libweb.surrey.ac.uk/library/skills/Number%20Skills%20Leicester/page_19.htm"></a></li>

				<li><a href= "http://www.winspc.com/what-is-spc/ask-the-expert/305-what-is-a-standard-deviation-and-how-do-i-compute-it">Computing Standard Deviation</a></li>

				<li><a href= "http://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_feature2d/py_matcher/py_matcher.html"></a></li>

				<li><a href="https://github.com/mariusmuja/flann/blob/master/src/python/pyflann/index.py"><Python Feature-Detection Algorithm</a></li>

				<li><a href="http://www.cse.cuhk.edu.hk/leojia/papers/portrait_eg16.pdf"></a></li>

				<li><a href="http://aircconline.com/vlsics/V6N5/6515vlsi02.pdf"></a></li>

				<li><a href="http://www.wisdom.weizmann.ac.il/~irani/PAPERS/InDefenceOfNN_CVPR08.pdf">In Defense of Nearest-Neighbor Classification</a></li>
			</ul>
		</div>
	</div>
</div>

<!--
	<div>

			<a href="http://www.cse.psu.edu/~rtc12/CSE486/lecture06.pdf"></a>
			<a href="https://classes.soe.ucsc.edu/cmpe264/Fall06/Lec5.pdf"></a>
			<a href="http://web.stanford.edu/class/ee368/Handouts/Lectures/2014_Spring/Combined_Slides/11-Edge-Detection-Combined.pdf"></a>
			<a href= "http://www.owlnet.rice.edu/~elec539/Projects97/morphjrks/morph.html"></a>
	</div>
-->
