---
layout: default
title: Drawings
permalink: /portfolio/drawings/

drawings:
 - title: "mapping1" 
   file: map1.jpg
 - title: "mapping2"
   file: map2.jpg
   alt: map2
 - title: "mapping3"
   file: map3.jpg
   alt: map3
 - title: "mapping4"
   file: map4.jpg
   alt: map4
 - title: "recognition"
   file: recognition.jpg
   alt: recognition
 - title: "median"
   file: median.jpg
   alt: median
 - title: "artificial"
   file: artificial.JPG
   alt: artificial
---
<div class = "gallery">
	<div class = "row">
		<div class = "col-sm-12 col-m-4 col-4">
			{% for drawing in site.drawings %}
				{% for image in site.static_files %}
					{% if image.path contains 'images/drawings/maps' %}
						<a href="{{site.url}}/{{image.path}}" class="image">
							<img src="{{site.url}}/{{image.path}}" alt = "{{drawing.alt}}">
						</a>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		<div class = "col-sm-12 col-m-4 col-4">
			{% for drawing in site.drawings %}
				{% for image in site.static_files %}
					{% if image.path contains 'images/drawings/algo' %}
						<a href="{{site.url}}/{{image.path}}" class="image">
							<img src="{{site.url}}/{{image.path}}" alt = "{{drawing.alt}}">
						</a>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		<div class = "col-sm-12 col-m-4 col-4">
			{% for drawing in site.drawings %}
				{% for image in site.static_files %}
					{% if image.path contains 'images/drawings/metalprint' %}
						<a href="{{site.url}}/{{image.path}}" class="image">
							<img src="{{site.url}}/{{image.path}}" alt = "{{drawing.alt}}">
						</a>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
