<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/new_stylesheets/vim.css">
	<link rel="stylesheet" type="text/css" href="/css/new_stylesheets/terminal.css">
  	<meta name="description" content="Fragments d'un Discours">
  	<link rel="canonical" href="https://localhost:4000/">
  	<link rel="alternate" type="application/rss+xml" title="o-nika" href="/feed.xml">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Proza+Libre" rel="stylesheet"> -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=VT323&display=swap" rel="stylesheet">

	
</head>
