<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav>
	<ul class="nav-container">	
		{% for item in site.data.nav %}	
			{% if item.subfolderitems != null %}
				<li class="dropdown">
					<a href= "{{site.url}}{{ item.url }}"  class="{% if item.url == page.url %}active{% endif %}"> {{ item.title }}</a> 
					<div class="dropdown-content">
						{% for entry in item.subfolderitems %}
								<a href= "{{site.url}}{{item.url}}{{entry.url}}"> {{ entry. subtitle}}</a>
						{% endfor %}
					</div>
				</li>
			{% else %}
				<li><a href = "{{site.url}}{{item.url}}" class="{% if item.url == page.url %}active{% endif %}">{{item.title}}</a></li>
			{% endif %}
		{% endfor %}
	</ul>


<!--
	<button class = "navButton" id="navButton1"> 
		<i class = "fa fa-barcode"> </i> 
	</button>
	<div id = "navCollapseSection">
			{% for item in site.data.nav %}	
				{% if item.subfolderitems != null %}
					<li class="dropdown2">
						<a href= "{{site.url}}{{ item.url }}"  class="{% if item.url == page.url %}active{% endif %}"> {{ item.title }}</a> 
						<div class="dropdown-content2">
							{% for entry in item.subfolderitems %}
									<a href= "{{site.url}}{{item.url}}{{entry.url}}"> {{ entry. subtitle}}</a>
							{% endfor %}
						</div>
					</li>
				{% else %}
					<li><a href = "{{site.url}}{{item.url}}" class="{% if item.url == page.url %}active{% endif %}">{{item.title}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
-->

</nav>

<script>
$(document).ready(function(){
	$("#navButton1").click(function(){
		$("#navCollapseSection").slideToggle("slow");
	});
});
</script>

