<nav>
	<div class = "nav-container">
		<ul>
			{% for item in site.data.nav %}	
				{% if item.subcategories != null %}
					<div class = "dropdown">
					<button onclick= "clickfunc()" class = "dropbtn"> 
						<li><a href= "/{{ item.href }}"> {{ item.title }} 
							{% if item.href == page.url %}class="active"{% endif %}
						</a></li> 
					</button>
						<div class = "dropdown-content" id = "myDropdown">
						{% for subcategory in item.subcategories %}
							<li><a href= "/{{subcategory.subhref}}"> {{ subcategory.subtitle}}
							</a></li>
						{% endfor %}
						</div>
					</div>
				{% else %}
					<li>
						<a href = "/{{ item.href }}">{{item.title}} 
							{% if item.href == page.url %}class="active"{% endif %}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>

<script>
		function clickFunc() {
			document.getElementById('myDropdown').classList.toggle("show");
		}

		window.onclick = function(e){
			if(!e.target.matches('.dropbtn.')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i=0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if(openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
</script>

