<nav>
	<div class="nav-container">
		{% for item in site.data.nav %}	
			{% if item.subfolderitems != null %}
				<div class="dropdown">
					<button onclick= "clickFunc()" class="dropbtn"> 
						<a href= "{{site.url}}{{ item.url }}"  class="{% if item.url == page.url %}active{% endif %}"> {{ item.title }}</a> 
					</button>
					<div id="myDropdown" class="dropdown-content">
						{% for entry in item.subfolderitems %}
								<a href= "{{site.url}}{{item.url}}{{entry.url}}"> {{ entry.title}}</a>
						{% endfor %}
					</div>
				</div>
			{% else %}
					<a href = "{{site.url}}{{item.url}}" class="{% if item.url == page.url %}active{% endif %}">{{item.title}}</a>
			{% endif %}
		{% endfor %}
	</div>
</nav>

<script>
		function clickFunc() {
			document.getElementById('myDropdown').classList.toggle("show");
		}

		window.onclick = function(e){
			if(!e.target.matches('.dropbtn')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i=0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if(openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
</script>

