---
layout: default
title: Paintings
permalink: /portfolio/paintings/

paintings:
  - title: "Arith"
    filename: Arith.jpg
    alt: "arith"
  - title: "it follows"
    filename: itfollows.jpg
    alt: "it follows"
---
<ul class = "paintings">
	{% for painting in site.paintings %}
	<h2> {{painting.title}} </h2>
		{% for image in site.static_files %}
			{% if image.path contains 'images/paintings' %}
					<a href="{{site.url}}/{{painting.filename}}" class="image">
						<img src="{{site.url}}/{{image.path}}" alt = "{{painting.alt}}">
					</a>
			{% endif %}
		{% endfor %}
	{% endfor %}
</ul>
